@font-face {
  font-family: "norse";
  src:
    url("../fonts/Norse-Bold.otf") format("opentype");
    font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
   }

body {
  display: flex;
  height: 100vh;
}

.left-container {
  background-image: url('../img/halie-west-25xggax4bSA-unsplash.jpg');
  background-size: cover;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo-wrapper {
  background: rgba(16,18,16, 0.6);
  color: #fff; 
  font-family: "norse", sans-serif;
  font-size: 3rem;
  width: 100%;
  padding: 15px 0;
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-wrapper img {
  height: 125px;
}

.attribution,
.attribution a {
  color: #fff;
}

.attribution {
  margin-bottom: 2vh;
  font-size: .8rem;
}


